<%= render '/public/header' %>

<div class="col-md-8 offset-md-1">
<h2>topページ</h2>

<div>

      <th>ジャンル検索</th>
      <th><%# @genre.each do |item| %>
          <%#= Genre.name %></th>
          <%# end %>
</div>

ようこそ、ながのCAKEへ！<br>
このサイトは、ケーキ販売のECサイトになります。<br>
会員でない方も商品の閲覧はできますが、<br>
購入には会員登録が必要になります。<br>

</div>

